.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_inp {
  position: relative;
  width: 80%;
}
.search_inp input {
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  padding: 13px 10px 13px 42px;
  outline: none;
  width: 100%;
}
.search_inp svg {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header_qr {
  background: #1976d2;
  border-radius: 4px;
  padding: 10px 14px;
}
.appeals_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  gap: 10px;
}
.appeals_btn button {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 16px;
  padding: 6px;
  background: transparent;
  cursor: pointer;
  width: max-content;
}
.appeals_table {
  margin-top: 10px;
  border: none;
}
.appeals_table .css-177gid-MuiTableCell-root {
  padding: 8px;
}
