.input {
  width: 100%;
  padding: 10px 30px 10px 10px;
  border: 1px solid rgb(0, 140, 255);
  outline: none;
  border-radius: 4px;
}
.input:focus {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 144, 255, 0.2);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0, 144, 255, 0.2);
  box-shadow: 0px 1px 8px 0px rgba(0, 144, 255, 0.2);
}
